*{
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

#root{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden{
    display: none;
}

.header,main{
    padding: 5rem;
}

#logo{
    text-align: center;

}


#items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item{
    min-width: 33%;
    margin: 1.5rem;
}